/* styles.css */

html{
	background: #cfe4fc;
}

p {
  color:#590c2d;
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}


h1 {
  color:darkslateblue;
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 55px;
}

h3 {
  color:#590c2d;
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
}


div {
	width: 45%;
  margin: auto;
  text-align: center;
  padding: 1%;
}