/* styles.css */

html{
	background: #cfe4fc;
}

p {
  color:rgb(119, 72, 2)
}

h1 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:darkslateblue;
  font-size: 60px;
}

div {
	width: 45%;
  margin: auto;
  text-align: center;
}